<div class="modal-body">
    <div class="pull-right">
        <button class="btn btn-primary" ng-click="ok($event)">OK</button>
        <button class="btn btn-warning" ng-click="cancel($event)">Cancel</button>
    </div>
    <h3>Jeep</h3>
    <p>
        <span class="label label-warning">0.3/h</span>
        <span class="label label-success">1 tank</span>
        <span class="label label-default">1 soldier</span>
    </p>
    <p>
        <span class="label label-warning">0.3/h</span>
        <span class="label label-success">1 tank</span>
        <span class="label label-default">1 soldier</span>
    </p>
</div>