{% extends '::base.html.twig' %}

{% block title %}Map{% endblock %}

{% block body %}
    <div ng-controller="MapCtrl">
        <div class="row space-20">
            <div class="col-lg-12">
                <maps>
                    {{ include('@MainFrontend/Map/_popover.html.twig') }}
                </maps>

            </div>
            {{ include('@MainFrontend/Map/_queue.html.twig') }}
        </div>
    </div>

{% endblock %}