{% extends '::base.html.twig' %}

{% block title %}Vehicles production{% endblock %}

{% block body %}
    <div ng-controller="VehiclesCtrl">
        <h1>Vehicles production</h1>

        <form action="">
            <div class="row">
                <div class="col-xs-3 col-lg-3">
                    <div class="thumbnail">
                        <div style="height: 120px;">
                            <img src="bundles/mainfrontend/images/jeep.png"
                                 alt="Private"
                                 ng-click="openAside('bottom')"
                                 style="cursor: pointer">

                            <div class="pull-right">
                                <h4>
                                    <span class="label label-default">100</span>
                                    <label>
                                        <input type="number" style="width: 50px" min="1" max="999"/>
                                    </label>
                                    <button class="btn btn-success btn-xs" ng-click="add('private')">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </h4>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Jeep</h3>

                            <p><span class="label label-warning">0.3/h</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <div class="thumbnail">
                        <div style="height: 120px;">
                            <img src="bundles/mainfrontend/images/truck1.png"
                                 alt="Corporal"
                                 ng-click="openAside('bottom')"
                                 style="cursor: pointer">

                            <div class="pull-right">
                                <h4>
                                    <span class="label label-default">1</span>
                                    <label>
                                        <input type="number" style="width: 50px" min="1" max="999"/>
                                    </label>
                                    <button class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </h4>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Truck</h3>

                            <p>
                                <span class="label label-warning">0.4/h</span>
                                <span class="label label-success">1 tank</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <div class="thumbnail">
                        <div style="height: 120px;">
                            <img src="bundles/mainfrontend/images/truck2.png"
                                 alt="Sergeant"
                                 ng-click="openAside('bottom')"
                                 width="140px"
                                 style="cursor: pointer">

                            <div class="pull-right">
                                <h4>
                                    <span class="label label-default">1</span>
                                    <label>
                                        <input type="number" style="width: 50px" min="1" max="999"/>
                                    </label>
                                    <button class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </h4>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Truck2</h3>

                            <p>
                                <span class="label label-warning">0.3/h</span>
                                <span class="label label-success">1 tank</span>
                                <span class="label label-default">1 soldier</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <div class="thumbnail">
                        <div style="height: 120px;">
                            <img src="bundles/mainfrontend/images/tank.png"
                                 alt="Warrant Officer"
                                 ng-click="openAside('right')"
                                 width="140px"
                                 style="cursor: pointer">

                            <div class="pull-right">
                                <h4>
                                    <span class="label label-default">1</span>
                                    <label>
                                        <input type="number" style="width: 50px" min="1" max="999"/>
                                    </label>
                                    <button class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </h4>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Tank</h3>

                            <p>
                                <span class="label label-warning">0.3/h</span>
                                <span class="label label-danger">1 hawk</span>
                                <span class="label label-default">1 soldier</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}