<script type="text/ng-template" id="navbarModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Scan message user: [[ messages.nr ]]</h3>
    </div>
    <div class="modal-body">
        <h4>Raw materials</h4>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>Soldiers</td>
                    <td>Food</td>
                    <td>Concrete</td>
                    <td>Iron</td>
                    <td>Last activity</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[[ messages.soldier ]]</td>
                    <td>[[ messages.food ]]</td>
                    <td>[[ messages.concrete ]]</td>
                    <td>[[ messages.iron ]]</td>
                    <td>[[ messages.time ]]</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-5">
                <h4>Soldiers</h4>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <td>Soldier</td>
                        <td>Amount</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sergeant</td>
                        <td>[[ messages.Sergeant ]]</td>
                    </tr>
                    <tr>
                        <td>Warrant_Officer</td>
                        <td>[[ messages.Warrant_Officer ]]</td>
                    </tr>
                    <tr>
                        <td>Private</td>
                        <td>[[ messages.Private ]]</td>
                    </tr>
                    <tr>
                        <td>Corporal</td>
                        <td>[[ messages.Corporal ]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>