{% extends '::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row" ng-controller="CountersCtrl">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>
                <span class="label label-default" ng-bind="soldierCounter()"></span>
            </h3>
            {#<h3>#}
                {#<span class="label label-default" ng-bind="points"></span>#}
            {#</h3>#}
    	</div>
    </div>
{% endblock %}