{% extends '::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            counters
    	</div>
    </div>
{% endblock %}