{% extends '::base.html.twig' %}

{% block title %}Soldiers academy{% endblock %}

{% block body %}
    <div ng-controller="SoldiersCtrl">
        <h1>Soldiers academy</h1>

        <form>
            <div class="row">
                <div class="col-xs-3 col-lg-3">
                    <soldier range="'Private'"></soldier>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <soldier range="'Corporal'"></soldier>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <soldier range="'Sergeant'"></soldier>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <soldier range="'Warrant_Officer'"></soldier>
                </div>
            </div>
        </form>
    </div>

{% endblock %}