{% extends '::base.html.twig' %}

{% block title %}Soldiers academy{% endblock %}

{% block body %}
    <div ng-controller="SoldiersCtrl">
        <h1>Soldiers academy</h1>

        <form>
            <div class="row">
                <div class="col-xs-3 col-lg-3">
                    <soldier range="'Private'"></soldier>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <div class="thumbnail">
                        <div style="height: 120px;">
                            <img src="bundles/mainfrontend/images/corporal.png"
                                 alt="Corporal"
                                 ng-click="openAside('bottom')"
                                 style="cursor: pointer">

                            <div class="pull-right">
                                <h4>
                                    <span class="label label-default">1</span>
                                    <label>
                                        <input type="number" style="width: 50px" min="1" max="999"/>
                                    </label>
                                    <button class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </h4>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Corporal</h3>

                            <p>
                                <span class="label label-warning">0.4/h</span>
                                <span class="label label-success">1 tank</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <div class="thumbnail">
                        <div style="height: 120px;">
                            <img src="bundles/mainfrontend/images/sergeant.png"
                                 alt="Sergeant"
                                 ng-click="openAside('bottom')"
                                 style="cursor: pointer">

                            <div class="pull-right">
                                <h4>
                                    <span class="label label-default">1</span>
                                    <label>
                                        <input type="number" style="width: 50px" min="1" max="999"/>
                                    </label>
                                    <button class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </h4>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Sergeant</h3>

                            <p>
                                <span class="label label-warning">0.3/h</span>
                                <span class="label label-success">1 tank</span>
                                <span class="label label-default">1 soldier</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <div class="thumbnail">
                        <div style="height: 120px;">
                            <img src="bundles/mainfrontend/images/warrant-officer.png"
                                 alt="Warrant Officer"
                                 ng-click="openAside('right')"
                                 style="cursor: pointer">

                            <div class="pull-right">
                                <h4>
                                    <span class="label label-default">1</span>
                                    <label>
                                        <input type="number" style="width: 50px" min="1" max="999"/>
                                    </label>
                                    <button class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </h4>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Warrant Officer</h3>

                            <p>
                                <span class="label label-warning">0.3/h</span>
                                <span class="label label-danger">1 hawk</span>
                                <span class="label label-default">1 soldier</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}